.logo {
  font-family: var(--font-orbitron), sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
}

.firstWord {
  color: #25A18E;
  margin-right: 0.4em; /* add horizontal gap between "Linfa" and "Tecnologia" */
}

/* Variante padrão (Header) */
.default .secondWord {
  color: #16425B;
}

/* Variante Footer */
.footer {
  font-size: 2rem;
}

.footer .secondWord {
  color: white;
}

/* Responsive */
@media (max-width: 900px) {
  .footer {
    font-size: 1.75rem;
  }
}
